<div class="contact-home">
<div class="contact-section">
  <h2 class="title">CONTACT US?</h2>

  <div class="contact-item">
    <span class="icon phone-icon">&#9742;</span>
    <div>
      <p class="label">TALK TO OUR CLIENT SUPPORT TEAM</p>
      <p class="value">+91 7736278919</p>
      <p class="value">+91 9567994843</p>
      <p class="value">+91 9995233839</p>
    </div>
  </div>

  <div class="contact-item">
    <span class="icon mail-icon">&#9993;</span>
    <div>
      <p class="label">WRITE TO US ABOUT YOUR NEEDS</p>
      <p class="value">dzevents10@gmail.com</p>
    </div>
  </div>

  
  <div class="branches-wrapper">
  <div class="branch-card">
<span class="icon"><i class="fa-solid fa-location-dot"></i></span>

  <div class="branch-details">
    <h3 class="branch-title">CALICUT BRANCH</h3>
    <p class="branch-address">
      Dz Event Management,<br>
      Francis road , idiyangara, Calicut-1,<br>
      Kerala, 673003
    </p>
  </div>
</div>
<div class="branch-card1">
<span class="icon"><i class="fa-solid fa-location-dot"></i></span>

  <div class="branch-details">
    <h3 class="branch-title">CALICUT BRANCH</h3>
    <p class="branch-address">
      Dz Event Management,<br>
      West Hill, Chungam-3,<br>
      Kerala, 673005
    </p>
  </div>
</div>
</div>


</div>
</div>

