<div class="service-container">
  <div class="card-left">
<span class="badge">SERVICE</span>
<h1>wedding Decor</h1>
<p>Our decoration services include elegant stage decoration, beautifully curated <br>
  wedding décor and birthday décor, thoughtful Nikah box arrangements, and creative <br>
  themed décor setups tailored to your event. Each setup is designed with attention <br>
   to detail to match your style, theme, and occasion perfectly.</p>
  </div>

  <div class="card-right">
    <img src="assets/wedding.png" alt="birthday">
  </div>
</div>



<div class="service-container">
  <div class="card-left">
<span class="badge">SERVICE</span>
<h1>Birthday Decor</h1>
<p>Make your child’s birthday magical with DZ Events Management Pvt. Ltd.! <br><br>
We create joyful, colorful, and immersive décor experiences tailored specially for kids.
Whether it’s a cartoon theme, superhero world, fairy-tale setup, jungle adventure, or a 
custom theme of your child’s imagination, our team brings it to life with creativity and excitement.</p>
  </div>

  <div class="card-right">
    <img src="assets/birthday.png" alt="birthday">
  </div>
</div>


<div class="service-container">
  <div class="card-left">
<span class="badge">SERVICE</span>
<h1>Catering services</h1>
<p>Our catering services offer a complete and seamless experience, providing a full <br>
  catering setup tailored to your event needs. We organize well‑designed buffet arrangements <br>
   and live food counters that bring freshness and excitement to the occasion. Every dish <br>
   is prepared as per order, ensuring quality, taste, and customization to suit your preferences. <br>
  To ensure smooth service throughout the event, our trained catering boys manage food serving, guest assistance, and overall coordination with professionalism and care.</p>
  </div>

  <div class="card-right">
    <img src="assets/catering.png" alt="catering">
  </div>
</div>


<div class="service-container">
  <div class="card-left">
<span class="badge">SERVICE</span>
<h1>Guest Services</h1>
<p>Our guest services ensure a smooth and comfortable experience for everyone attending your event. We provide well‑trained waiters and serving staff to manage food service and guest assistance with
  professionalism. Additionally, we arrange water bottle supply and drinking water supply throughout the
  event to keep your guests refreshed and well taken care of at all times.</p>
  </div>

  <div class="card-right">
    <img src="assets/guest.png" alt="catering">
  </div>
</div>


<div class="service-container">
  <div class="card-left">
<span class="badge">SERVICE</span>
<h1>Security Services</h1>
<p>Our Security Services ensure complete safety and peace of mind for every event. <br>
  We provide highly trained VIP security personnel for high‑profile guests, along with <br>
   reliable ordinary security staff to manage crowd control, maintain order, and safeguard <br>
    your venue throughout the occasion. Our team works with discipline and professionalism <br>
     to ensure a secure and well‑organized environment.</p>
  </div>

  <div class="card-right">
    <img src="assets/security.png" alt="birthday">
  </div>
</div>


<div class="service-container">
  <div class="card-left">
<span class="badge">SERVICE</span>
<h1>Entertainment Services</h1>
<p>Our entertainment services add energy and excitement to any event with a range of engaging <br>
   options. We offer professional DJ services to create the perfect atmosphere with curated <br>
   music blends for weddings, parties, and corporate events. For those who prefer live performances,
    our band programs deliver vibrant musical experiences tailored to your event’s theme. We also provide 
     exhibition setups, ensuring visually appealing and well‑organized displays that elevate the overall 
     ambiance and captivate your guests.</p>
  </div>

  <div class="card-right">
    <img src="assets/entertainment .png" alt="birthday">
  </div>
</div>



<div class="service-container">
  <div class="card-left">
<span class="badge">SERVICE</span>
<h1>Furniture & Equipment Rental</h1>
<p>Our Furniture & Equipment Rental service ensures your event is fully equipped with <br>
  high‑quality essentials, including chairs and tables for comfortable guest seating, plates <br>
   and vessels required for events, parties, and weddings, and reliable sound system and audio <br>
   equipment to support announcements, music, and entertainment. We provide everything you need 
   to create a smooth, well‑organized, and memorable event experience.</p>
  </div>

  <div class="card-right">
    <img src="assets/furniture.png" alt="birthday">
  </div>
</div>
