/* Top black bar */
.top-bar {
    background: #000;
    color: #fff;
    font-size: 14px;
}

/* Logo styling */
.logo {
    font-size: 30px;
}
.logo .pink {
    color: #ce5120;
}

/* Request Quote button */
.request-btn {
    font-weight: 600;
    /* border-bottom: 2px solid #ff2e7e; */
}

/* Hero section */
.hero-section {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    filter: brightness(65%);
}

.hero-text {
    position: absolute;
    top: 37%;
    left:2%;
    color: white;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero-img {
  cursor: zoom-in;
}

/* .nav-link {
  cursor: pointer;
} */
.hero-text1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}



.city-section {
  padding: 50px 0;
}

.section-title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0a2a6c;
}

.section-subtitle {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.city-grid {
  margin-top: 20px;
}

.city-card {
  margin-bottom: 25px;
}

.city-image {
  height: 150px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.city-name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}


/* footer */
 .footer a {
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: #ff4da6 !important;
}

.social-icons a:hover {
  transform: scale(1.2);
}


.experience-badge {
  display: inline-block;
  background: #ff4f9a; /* pink highlight */
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  margin-top: 10px;
  animation: fadeInUp 1s ease;
}
.hero-text .experience-badge {
  margin-top: 560px;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

